<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ClientController</servlet-name>
  	<display-name>ClientController</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.ClientController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerClient</servlet-name>
  	<display-name>ControllerClient</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.ControllerClient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BrandController</servlet-name>
  	<display-name>BrandController</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.BrandController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryController</servlet-name>
  	<display-name>CategoryController</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.CategoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductsController</servlet-name>
  	<display-name>ProductsController</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.ProductsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoanController</servlet-name>
  	<display-name>LoanController</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.LoanController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>com.web.bumble.bee.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClientController</servlet-name>
  	<url-pattern>/ClientController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerClient</servlet-name>
  	<url-pattern>/getData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerClient</servlet-name>
  	<url-pattern>/addData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerClient</servlet-name>
  	<url-pattern>/updateData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerClient</servlet-name>
  	<url-pattern>/deleteData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandController</servlet-name>
  	<url-pattern>/addBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandController</servlet-name>
  	<url-pattern>/deleteBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandController</servlet-name>
  	<url-pattern>/updateBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandController</servlet-name>
  	<url-pattern>/searchBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandController</servlet-name>
  	<url-pattern>/viewBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryController</servlet-name>
  	<url-pattern>/addCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryController</servlet-name>
  	<url-pattern>/updateCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryController</servlet-name>
  	<url-pattern>/deleteCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryController</servlet-name>
  	<url-pattern>/viewCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryController</servlet-name>
  	<url-pattern>/searchCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductsController</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductsController</servlet-name>
  	<url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductsController</servlet-name>
  	<url-pattern>/viewProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductsController</servlet-name>
  	<url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductsController</servlet-name>
  	<url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoanController</servlet-name>
  	<url-pattern>/addLoan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoanController</servlet-name>
  	<url-pattern>/updateLoan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoanController</servlet-name>
  	<url-pattern>/viewLoan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoanController</servlet-name>
  	<url-pattern>/searchLoan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoanController</servlet-name>
  	<url-pattern>/deleteLoan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/adLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/viewAdmin</url-pattern>
  </servlet-mapping>
</web-app>
